#rgulogo{
  padding-left: 500px;
}
#por1{
  font-size:20px;
  font-style: italic;
}
#Irgu1{
  float: left;
}
#Irgu2{
  float: right;
}
#por2{
  font-size: 20px;
  font-style: italic;
}
#por3{
  padding-left: 500px;
  font-style: oblique;

}
#website{
  padding-left: 500px;
}
